announcements/*.json
__pycache__/
.env.secret
club_info_pages/*
pings.json
clubInfo.json
api_credentials/docs/credentials.json
api_credentials/drive/credentials.json
gdocs_retriever_config.json
api_credentials/drive/token.json
api_credentials/docs/token.json
gdocs_retriever_access_data.json